defaults/flow.json
[
    {
        "id": "f4304e4e.b80648",
        "type": "tab",
        "label": "Face Detection",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a892712.27e611",
        "type": "http response",
        "z": "f4304e4e.b80648",
        "name": "HTTP response",
        "statusCode": "",
        "headers": {},
        "x": 853,
        "y": 38,
        "wires": []
    },
    {
        "id": "be76ab26.4547a",
        "type": "http in",
        "z": "f4304e4e.b80648",
        "name": "Get Home Page",
        "url": "/home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 99,
        "y": 35,
        "wires": [
            [
                "2a565503.d556e2"
            ]
        ]
    },
    {
        "id": "2a565503.d556e2",
        "type": "template",
        "z": "f4304e4e.b80648",
        "name": "Form and Response Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<style>\nh4 {\ntext-align: center;\nmargin: 10px;\n}\ntable {\nwidth: 480px;\nmargin-top: 10px;\n}\nth, td {\npadding: 8px;\ntext-align: left;\nborder-bottom: 1px solid #ddd;\nbackground-color: #FFFFFF;\nwidth: 50%;\n}\n.classifier {\nbackground-color: rgb(85,150,230);\ntext-align: center;\n}\n.title {\nbackground-color:LightGrey;\n}\ninput[type=submit]{\nbackground-color: rgb(85,150,230);\nborder: none;\ncolor: white;\npadding: 12px 18px;\ntext-decoration: none;\nmargin: 4px 2px;\ncursor: pointer;\nfont-size: 15px;\nborder-radius: 10px;\n}\n</style>\n \n <html>\n     <body>\n        <h2>\n             Let Watson Guess!\n        </h2>\n        <form action=\"/facedetect\" method=\"post\" enctype=\"multipart/form-data\">\n            <input type=\"file\" name=\"pic\" accept=\"image/*\"/><br/>\n            <input type=\"submit\" value=\"Detect Faces\"/>\n        </form>\n        <div>\n            {{#result}}\n            <br/>Faces:<br/>\n            <table>\n            <tr>\n                <th>Age</th>\n                <th>Score (Age)</th>\n                <th>Gender</th>\n                <th>Score (Gender)</th>\n            </tr>\n            {{#images}}\n            {{#.}}\n            {{#faces}}\n            {{#.}}\n                <tr>\n                    <td>{{age.min}}-{{age.max}}</td>\n                    <td>{{age.score}}</td> \n                    <td>{{gender.gender}}</td>\n                    <td>{{gender.score}}</td>\n                </tr>                \n            {{/.}} \n            {{/faces}}            \n            {{/.}}\n            {{/images}}\n            </table>\n            {{/result}}\n        </div>\n     </body>\n</html>",
        "x": 613.5,
        "y": 38,
        "wires": [
            [
                "a892712.27e611"
            ]
        ]
    },
    {
        "id": "109b75f.ac3a60a",
        "type": "function",
        "z": "f4304e4e.b80648",
        "name": " Determine File Path",
        "func": "if (msg.req.files) {\n    var files = Object.keys(msg.req.files);\n    msg.payload = msg.req.files[files[0]][0].path;    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 319.5,
        "y": 105,
        "wires": [
            [
                "c0d3caa7.1906f"
            ]
        ]
    },
    {
        "id": "c0d3caa7.1906f",
        "type": "file-buffer",
        "z": "f4304e4e.b80648",
        "name": "Multipart file buffer",
        "x": 327,
        "y": 174,
        "wires": [
            [
                "e2d23b10.85d33"
            ]
        ]
    },
    {
        "id": "30a7ad78.818672",
        "type": "comment",
        "z": "f4304e4e.b80648",
        "name": "Credits",
        "info": "Based on the following example snippet: [https://www.npmjs.com/package/node-red-contrib-file-buffer]()",
        "x": 88.5,
        "y": 276,
        "wires": []
    },
    {
        "id": "e2d23b10.85d33",
        "type": "visual-recognition-v3",
        "z": "f4304e4e.b80648",
        "name": "Watson Face Detection",
        "vr-service-endpoint": "https://gateway-a.watsonplatform.net/visual-recognition/api",
        "image-feature": "detectFaces",
        "lang": "en",
        "x": 469.5,
        "y": 239,
        "wires": [
            [
                "b2cf4d71.7378",
                "2a565503.d556e2"
            ]
        ]
    },
    {
        "id": "b2cf4d71.7378",
        "type": "debug",
        "z": "f4304e4e.b80648",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "result",
        "targetType": "msg",
        "x": 733.5,
        "y": 239,
        "wires": []
    },
    {
        "id": "8825e83a.95e5a8",
        "type": "httpInMultipart",
        "z": "f4304e4e.b80648",
        "name": "Detect Faces",
        "url": "/facedetect",
        "method": "post",
        "fields": "[{ \"name\":\"pic\"}]",
        "swaggerDoc": "",
        "x": 90,
        "y": 105,
        "wires": [
            [
                "109b75f.ac3a60a"
            ]
        ]
    }
]
